 /* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

 * {
     margin: 0;
     text-decoration: none;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Ubuntu', sans-serif;
 }
 
 body {
     color: #111827;
     width: 100vw;
     height: 100vh;
 }
 
 /* Balance Header */
 .balance-header {
     position: relative;
     padding: 24px;
     display: block;
     padding-bottom: 0px;
     background: white;
 }
 .account-container{
     height: inherit;
     width: inherit;
     overflow: hidden;
     background: #eef3f7;
 }
 .balance-label {
     display: flex;
     gap: 5px;
     align-items: center;
     font-weight: 500;
     font-size: 24px;
 }
 
 .profile-image{
     position: fixed;
     z-index: 1;
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     top: 24px;
     right: 24px;
     object-fit: cover;
     border:2px #5BB6EA78 outset;
     padding: 2px;
 }
 
 .balance-amount {
     display: flex;
     font-size: 59px;
     font-weight: 700;
     color: #F97878;
     margin: 10px 0;
     line-height: 1;
 }
 
 .balance-amount .cents {
     font-size: 16px;
 }
 
 .balance-amount .currency {
     font-size: 16px;
 }
 
 .balance-subtext {
     display: flex;
     font-size: 16px;
     text-align: center;
     font-weight: 500;
     color: rgba(45, 45, 45, 1);
 }
 
 
 /* Actions */
 .actions {
     display: flex;
     justify-content: space-between;
     gap: 22px;
     padding: 24px;
     background: linear-gradient(to bottom, #FFFFFF, #eef3f7, #eef3f7);
     backdrop-filter: blur(25px);
 }
 
 .action-button {
     flex: 1;
     margin-top: 20px;
     background-color: white;
     border: none;
     border-radius: 10px;
     box-shadow: 0 0 12px 1.5px #eef3f7;
     text-align: center;
     cursor: pointer;
     padding: 20px 0;
     transition: background 0.2s;
 }
 
 .action-button:hover {
     background-color: #eef1f4;
 }
 
 .action-button .icon {
     display: block;
     color: #4168b5;
     font-weight: 800;
     font-size: 20px;
     margin-bottom: 12px;
 }
 
 .action-button .label {
     font-size: 11px;
     font-weight: 800;
     text-transform: uppercase;
     color: #4168b5;
 }
 
 /* Activity */
 .activity {
     z-index: 1;
     border-top: 4px #F9F9F9 solid;
     padding-top: 10px !important;
     padding: 24px;
     width: 100%;
     height: 55%;
     overflow: scroll;
     display: flex;
     flex-direction: column;
     background: white;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
 }
 
 .activity-drawer {
     width: 15%;
     margin-bottom: 15px;
     align-self: center;
     background: #ced7e2;
     padding: 2px;
     border-radius: 10px;
 }
 
 .activity-title {
     font-size: 26px;
     font-weight: 600;
     color: #111827;
     margin-bottom: 15px;
 }
 
 .activity-item {
     display: flex;
     padding: 16px 0;
    align-items: center;
     border-bottom: 1px solid #ecf1f7;
 }
 
 .activity-icon {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     object-fit: cover;
     margin-right: 12px;
 }
 
 .activity-details {
     width: 100%;
 }
 
 .activity-name {
     font-size: 16px;
     font-weight: 600;
     color: #111827;
 }
 
 .activity-time {
     font-size: 10px;
     font-weight: 500;
     color: #C1CCD3;
     margin-top: 2px;
 }
 
 .activity-amount {
     font-size: 14px;
     padding: 7px;
     text-align: right;
     border-radius: 7px;
     font-weight: 600;
     color: #4168b5;
     align-items: center;
     background: #ECF1F78F;
 }
 .activity-cap{
     font-size: 12px;
     font-weight: 500;
 }